@use "styles/vars.scss";
.container {
  font-family: vars.$oceanwide-semibold;
  .introWrap {
    text-align: left;
    width: fit-content;
    margin: 0% 15%;
  }
  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.5rem 10%;
    white-space: nowrap;
    .titleUnderline {
      margin-top: -3.5rem;
      transform: scale(2);
    }
  }
  .body {
    font-family: vars.$oceanwide-regular;
    margin: 0 15%;
    margin-top: 11rem;
  }
}
