.bar1 {
  width: 100%;
  height: 100%;
  transform: scale(2) translate(0%, 0%) rotate(-10deg);
}

@media only screen and (min-width: 1690px) {
  .bar1 {
    transform: scale(2.2) rotate(-10deg);
  }
}
@media only screen and (min-width: 2028px) {
  .bar1 {
    transform: scale(3) rotate(-10deg);
  }
}

@media only screen and (min-width: 2028px) {
  .square1 {
    transform: scale(0.2) translate(30rem, 0%);
  }
}

.square3 {
  width: 100%;
  height: 100%;
  transform: scale(0.2) translate(200rem, 0%);
}
.square3Inner1 {
  width: 100%;
  height: 100%;
  transform: scale(0.17) translate(235rem, 0%);
}

.square3Inner2 {
  width: 100%;
  height: 100%;
  transform: scale(0.14) translate(286rem, 0%);
}

.square3Inner3 {
  width: 100%;
  height: 100%;
  transform: scale(0.1) translate(400rem, 0%);
}

.square3Inner4 {
  width: 100%;
  height: 100%;
  transform: scale(0.07) translate(570rem, 0%);
}

.square3Inner5 {
  width: 100%;
  height: 100%;
  transform: scale(0.035) translate(1140rem, 0%);
}

.square4 {
  width: 100%;
  height: 100%;
  transform: scale(0.2) translate(-210rem, 20%);
}

.square4Outline {
  width: 20%;
  height: 100%;

  position: absolute;
  left: 3.7%;
  top: 0rem;
}

@media only screen and (max-width: 3000px) {
  .square4Outline {
    top: 4rem;
  }
}

@media only screen and (max-width: 2500px) {
  .square4Outline {
    top: 2rem;
  }
}

@media only screen and (max-width: 2300px) {
  .square4Outline {
    top: 0rem;
  }
}

@media only screen and (max-width: 1900px) {
  .square4Outline {
    top: -0.5rem;
  }
}

@media only screen and (max-width: 1700px) {
  .square4Outline {
    top: -1.5rem;
  }
}

@media only screen and (max-width: 1100px) {
  .square4Outline {
    top: -4rem;
  }
}

@media only screen and (max-width: 800px) {
  .square4Outline {
    top: -6rem;
  }
}

@media only screen and (max-width: 600px) {
  .square4Outline {
    top: -6.5rem;
  }
}

.square5 {
  width: 100%;
  height: 100%;
  transform: scale(0.244) translate(-90.5rem, 65%);
}

.square5Outline {
  width: 100%;
  height: 100%;
  transform: scale(0.27) translate(-82rem, 117%);
}

@media only screen and (min-width: 2028px) {
  .square5 {
    transform: scale(0.244) translate(-110.5rem, 102%);
  }
  .square5Outline {
    transform: scale(0.27) translate(-100rem, 150%);
  }
}

@media only screen and (min-width: 2300px) {
  .square5 {
    transform: scale(0.244) translate(-121.5rem, 102%);
  }
  .square5Outline {
    transform: scale(0.27) translate(-110rem, 150%);
  }
}

@media only screen and (min-width: 2500px) {
  .square5 {
    transform: scale(0.244) translate(-129.5rem, 102%);
  }
  .square5Outline {
    transform: scale(0.27) translate(-117rem, 150%);
  }
}

@media only screen and (min-width: 2900px) {
  .square5 {
    transform: scale(0.244) translate(-150rem, 106%);
  }
  .square5Outline {
    transform: scale(0.27) translate(-140rem, 154%);
  }
}

.pic1 {
  position: absolute;
  left: 4%;
  top: 35%;
}
.pic1Content {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  width: 20%;
  opacity: 1;
}
.pic1Overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.253);
  overflow: hidden;
}
