.container {
  position: relative;
  padding: 0rem 2rem;
  background-color: white;
  z-index: 1;
  nav {
    border-bottom: 1px solid #eaeaea;
  }
  ul {
    position: absolute;
    top: 0;
    right: 0;
    li {
      margin: 0 2rem;
      display: inline-block;
      cursor: pointer;
    }
  }
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
}
.navItem {
  .underline {
    margin-top: 5px;
    position: relative;
    height: 3px;
    background-color: black;
  }
}
