/* FONT IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@font-face {
  font-family: "Oceanwide-Semibold";
  src: url("/webFonts/Oceanwide/semibold.woff2") format("woff2"),
    url("/webFonts/Oceanwide/semibold.woff") format("woff");
}
@font-face {
  font-family: "Oceanwide-Regular";
  src: url("/webFonts/Oceanwide/regular.woff2") format("woff2"),
    url("/webFonts/Oceanwide/regular.woff") format("woff");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Space Mono";
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
