/* COLORS */
$bright-red: #fe5f55;
$light-tan: #eef5db;
$base-tan: #e5dfc3;
$forest-green: #4f6367;
$medium-green: #7a9e9f;
$light-green: #b8d8d8;

/* FONTS */
$oceanwide-semibold: "Oceanwide-Semibold";
$oceanwide-regular: "Oceanwide-Regular";
$spacemono: "Space Mono";
$monograf-regular: "Monograf-Regular";
$monograf-bold: "Monograf-Bold";
